:root {
  --grigio-zoom: #4a4a4a;
}

/* RESET  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  max-width: 1900px;
}

/* COMMONS */
/* colors */
.background-white {
  background-color: black;
  color: white;
}

.background-green {
  background-color: black;
  color: green;
}

.small-cube {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
}

/* top-buttons */
.top-buttons {
  position: absolute;
  top: 10px;
  right: 5px;
  display: flex;
  gap: 5px;
  height: 40px;
  z-index: 9999;
}

.top-buttons div {
  border-radius: 10px;
  background-color: var(--grigio-zoom);
  padding: 10px;
}

/* <!-- galleria --> */
.galleria {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: scroll;
  gap: 5px;
  padding: 70px 20px 0;
  height: calc(100vh - 100px);
  background-color: black;
}

.galleria img {
  width: calc((100%/7) - 5px);
}

/* footer */
.actions-bar {
  display: flex;
  justify-content: space-between;
  height: 100px;

  /* debug */
  background-color: black;
}

.mic-vid {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-left: 30px;
  width: calc(100%/4);
}

.center-bottom-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: black;
  width: calc(100%/2);
}

.end-recording {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100%/4);
  background-color: var(--grigio-zoom);
  background-color: black;
}

.rectangle {
  height: 100%;
  min-width: 10px;
  background-color: var(--grigio-zoom);
  color: red
}

.rectangle span {
  text-align: center;
  line-height: 100px;
  padding: 0 10px;
}