/* RESET  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  max-width: 1900px;
}

/* COMMONS */
/* colors */
.background-white {
  background-color: white;
}

.small-cube {
  height: 40px;
  width: 40px;
}

/* top-buttons */
.top-buttons {
  position: absolute;
  top: 10px;
  right: 5px;
  display: flex;
  gap: 5px;
  height: 40px;
  z-index: 9999;

  /* debug */
  background-color: red;
}

.top-buttons div {
  background-color: grey;
  padding: 10px;
}

/* <!-- galleria --> */
.galleria {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: scroll;
  gap: 5px;
  padding: 70px 20px 0;
  height: calc(100vh - 100px);

  /* debug */
  background-color: aquamarine;
  border: 10px solid black;
}

.galleria img {
  width: calc((100%/7) - 5px);
}

/* footer */
.actions-bar {
  display: flex;
  justify-content: space-between;
  height: 100px;

  /* debug */
  background-color: rebeccapurple;
}

.mic-vid {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-left: 30px;
  width: calc(100%/4);

  /* debub */
  /* min-height: 80%; */
  background-color: aqua;
  border: 3px solid orange;
}

.center-bottom-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: black;
  width: calc(100%/2);

  /* debub */
  /* min-height: 80%; */
  border: 3px solid orange;
}

.end-recording {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  background-color: red;
  width: calc(100%/4);
  text-align: center;
  line-height: 100px;

  /* debub */
  /* min-height: 80%; */
  border: 3px solid orange;
}